.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.border-left {
	border-left: solid 1px #dddddd;
}

.border-right {
	border-right: solid 1px #dddddd;
}

.table-header {
	border-bottom: solid 1px #dddddd;
}

.board-sticker-container {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
}